[submodule "dots/kitty/nord-kitty"]
	path = dots/kitty/nord-kitty
	url = https://github.com/connorholyday/nord-kitty.git
[submodule "dots/dircolors/nord-dircolors"]
	path = dots/dircolors/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
[submodule "gainmiles"]
	path = gainmiles
	url = git@github.com:peterhpchen/dotfiles-gainmiles.git
[submodule "personal"]
	path = personal
	url = git@github.com:peterhpchen/dotfiles-personal.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:peterhpchen/nvim.git
