[submodule "gainmiles"]
	path = gainmiles
	url = git@github.com:peterhpchen/dotfiles-gainmiles.git
[submodule "personal"]
	path = personal
	url = git@github.com:peterhpchen/dotfiles-personal.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:peterhpchen/nvim.git
[submodule "kitty/nord-kitty"]
	path = kitty/nord-kitty
	url = https://github.com/connorholyday/nord-kitty.git
[submodule "dircolors/nord-dircolors"]
	path = dircolors/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
