root = true

# Matches all files

# Prettier would fllow these rules.
[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

# Matches all Shell files

# shfmt settings
# Reference Google's Shell Style Guide
# https://google.github.io/styleguide/shellguide.html
# Execute `man shfmt` for details
[*.sh]
# like -i 2
indent_style = space
indent_size = 2

# like -ln=bash
shell_variant      = bash
# like -bn
binary_next_line   = true
# like -ci
switch_case_indent = true
# # like -sr
# space_redirects    = true
# # like -kp
# keep_padding       = true
# # like -fn
# function_next_line = true

# Matches all Markdown files
[*.md]
trim_trailing_whitespace = false
